<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Мы используем вашу геопозицию для отображения погоды</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Мы используем вашу геопозицию для отображения погоды</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Weather</key>
		<string>Используется для определения погоды в вашем регионе</string>
	</dict>
</dict>
</plist>
